<div class="wrapper">
  <h1>Products</h1>
  <div class="products">
    <div class="pCard">
      <h3>This is a test box</h3>
      <img src="../../assets/gardening1.jpeg" alt="gardening equipment">
      <p>Straw augers beef kettle our crickets. Shovels at rakes plows. Outhouse at nails mower. Chainsaw foal hay hook, herbs at combine harvester, children is mallet. Forage Harvester, bean and Silage dump, cultivator brussel sprouts harrows, celery dread with kal.</p>
      <button>Add to cart</button>
    </div>
    <div class="pCard">
        <h3>This is a test box</h3>
        <img src="../../assets/gardening2.jpg" alt="gardening equipment">
        <p>Augers harrows. Bulls at rose garden cucumbers mice sunflower wheat in pig. Mallet herbs basil nest, in welding equipment pens quail. Quack hammers eggplant is utters nails garden.</p>
        <button>Add to cart</button>
    </div>
    <div class="pCard">
        <h3>This is a test box</h3>
        <img src="../../assets/gardening3.jpeg" alt="gardening equipment">
        <p>Trucks, hoot pony robins peacocks an kale. Kidney beans ostrich trucks. Brussel sprouts cow, rabbits a gates a, storage shed fences. Lamb in eggplant baler rain barrels manur.</p>
        <button>Add to cart</button>
    </div>
    <div class="pCard">
        <h3>This is a test box</h3>
        <img src="../../assets/gardening4.jpeg" alt="gardening equipment">
        <p>Mushrooms organic berries gobble. Blue berries pigeons buzz and bean prairie dogs nails at est. House hen chinchillas in barn livestock cat hogs chicks trucks. Turkey daisys eggs squeal, horses moonshine apples raising Mooo tractor plow. Goat goose he.</p>
        <button>Add to cart</button>
    </div>
    <div class="pCard">
        <h3>This is a test box</h3>
        <img src="../../assets/gardening1.jpeg" alt="gardening equipment">
        <p>Straw augers beef kettle our crickets. Shovels at rakes plows. Outhouse at nails mower. Chainsaw foal hay hook, herbs at combine harvester, children is mallet. Forage Harvester, bean and Silage dump, cultivator brussel sprouts harrows, celery dread with kal.</p>
        <button>Add to cart</button>
      </div>
      <div class="pCard">
          <h3>This is a test box</h3>
          <img src="../../assets/gardening2.jpg" alt="gardening equipment">
          <p>Augers harrows. Bulls at rose garden cucumbers mice sunflower wheat in pig. Mallet herbs basil nest, in welding equipment pens quail. Quack hammers eggplant is utters nails garden.</p>
          <button>Add to cart</button>
      </div>
      <div class="pCard">
          <h3>This is a test box</h3>
          <img src="../../assets/gardening3.jpeg" alt="gardening equipment">
          <p>Trucks, hoot pony robins peacocks an kale. Kidney beans ostrich trucks. Brussel sprouts cow, rabbits a gates a, storage shed fences. Lamb in eggplant baler rain barrels manur.</p>
          <button>Add to cart</button>
      </div>
      <div class="pCard">
          <h3>This is a test box</h3>
          <img src="../../assets/gardening4.jpeg" alt="gardening equipment">
          <p>Mushrooms organic berries gobble. Blue berries pigeons buzz and bean prairie dogs nails at est. House hen chinchillas in barn livestock cat hogs chicks trucks. Turkey daisys eggs squeal, horses moonshine apples raising Mooo tractor plow. Goat goose he.</p>
          <button>Add to cart</button>
      </div>
  </div>
</div>
